app/code/community/Sniip/Sniipsync/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="sniipsyncCartCustomerEntity">
                <all>
                    <element name="mode" type="xsd:string" minOccurs="0"/>
                    <element name="customer_id" type="xsd:int" minOccurs="0"/>
                    <element name="email" type="xsd:string" minOccurs="0"/>
                    <element name="firstname" type="xsd:string" minOccurs="0"/>
                    <element name="lastname" type="xsd:string" minOccurs="0"/>
                    <element name="password" type="xsd:string" minOccurs="0"/>
                    <element name="confirmation" type="xsd:string" minOccurs="0"/>
                    <element name="website_id" type="xsd:int" minOccurs="0"/>
                    <element name="store_id" type="xsd:int" minOccurs="0"/>
                    <element name="group_id" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="sniipsyncCartCustomerAddressEntity">
                <all>
                    <element name="mode" type="xsd:string" minOccurs="0"/>
                    <element name="address_id" type="xsd:string" minOccurs="0"/>
                    <element name="firstname" type="xsd:string" minOccurs="0"/>
                    <element name="lastname" type="xsd:string" minOccurs="0"/>
                    <element name="email" type="xsd:string" minOccurs="0"/>
                    <element name="company" type="xsd:string" minOccurs="0"/>
                    <element name="street" type="xsd:string" minOccurs="0"/>
                    <element name="city" type="xsd:string" minOccurs="0"/>
                    <element name="region" type="xsd:string" minOccurs="0"/>
                    <element name="region_id" type="xsd:string" minOccurs="0"/>
                    <element name="use_for_shipping" type="xsd:int" minOccurs="0"/>
                    <element name="postcode" type="xsd:string" minOccurs="0"/>
                    <element name="country_id" type="xsd:string" minOccurs="0"/>
                    <element name="telephone" type="xsd:string" minOccurs="0"/>
                    <element name="fax" type="xsd:string" minOccurs="0"/>
                    <element name="is_default_billing" type="xsd:int" minOccurs="0"/>
                    <element name="is_default_shipping" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="sniipsyncCartCustomerAddressEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayTypeF="typens:sniipsyncCartCustomerAddressEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="sniipsyncCartProductEntity">
                <all>
                    <element name="product_id" type="xsd:string" minOccurs="0"/>
                    <element name="sku" type="xsd:string" minOccurs="0"/>
                    <element name="qty" type="xsd:double" minOccurs="0"/>
                    <element name="options" type="typens:associativeArray" minOccurs="0"/>
                    <element name="bundle_option" type="typens:associativeArray" minOccurs="0"/>
                    <element name="bundle_option_qty" type="typens:associativeArray" minOccurs="0"/>
                    <element name="links" type="typens:ArrayOfString" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="sniipsyncCartProductEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:sniipsyncCartProductEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="orderItemIdQty">
                <all>
                    <element name="order_item_id" type="xsd:int" />
                    <element name="qty" type="xsd:double" />
                </all>
            </complexType>
            <complexType name="orderItemIdQtyArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:orderItemIdQty[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="sniipsyncSetPaymentMethodEntity">
                <all>
                    <element name="po_number" type="xsd:string" minOccurs="0"/>
                    <element name="method" type="xsd:string" minOccurs="0"/>
                    <element name="cc_cid" type="xsd:string" minOccurs="0"/>
                    <element name="cc_owner" type="xsd:string" minOccurs="0"/>
                    <element name="cc_number" type="xsd:string" minOccurs="0"/>
                    <element name="cc_type" type="xsd:string" minOccurs="0"/>
                    <element name="cc_exp_year" type="xsd:string" minOccurs="0"/>
                    <element name="cc_exp_month" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
        </schema>
    </types>
    <message name="sniipsyncCartInfoRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="productsData" type="typens:sniipsyncCartProductEntityArray"/>
        <part name="customerData" type="typens:sniipsyncCartCustomerEntity"/>
        <part name="customerAddressData" type="typens:sniipsyncCartCustomerAddressEntityArray"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="sniipsyncCartInfoResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="sniipsyncProductListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="pageSize" type="xsd:integer" />
        <part name="curPage" type="xsd:integer" />
        <part name="fromDate" type="xsd:string" />
    </message>
    <message name="sniipsyncProductListResponse">
        <part name="storeView" type="xsd:string" />
    </message>
    <message name="sniipsyncCategoryListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="pageSize" type="xsd:integer" />
        <part name="curPage" type="xsd:integer" />
        <part name="fromDate" type="xsd:string" />
    </message>
    <message name="sniipsyncCategoryListResponse">
        <part name="storeView" type="xsd:string" />
    </message>

    <message name="sniipsyncInfoRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="sniipsyncInfoResponse">
        <part name="storeView" type="xsd:string" />
    </message>

    <message name="sniipsyncPaymentListRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="sniipsyncPaymentListResponse">
        <part name="storeView" type="xsd:string" />
    </message>



    <message name="sniipsyncPageInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="pageSize" type="xsd:integer" />
        <part name="mode" type="xsd:integer" />
        <part name="fromDate" type="xsd:string" />
    </message>
    <message name="sniipsyncPageInfoResponse">
        <part name="storeView" type="xsd:string" />
    </message>


    <message name="sniipsyncCreateInvoiceRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
        <part name="itemsQty" type="typens:orderItemIdQtyArray" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:string" />
        <part name="includeComment" type="xsd:string" />
    </message>
    <message name="sniipsyncCreateInvoiceResponse">
        <part name="result" type="xsd:string" />
    </message>

    <message name="sniipsyncAttrProductRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="productId" type="xsd:string" />
    </message>
    <message name="sniipsyncAttrProductResponse">
        <part name="storeView" type="xsd:string" />
    </message>



    <message name="sniipsyncAttrAllProductRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="pageSize" type="xsd:integer" />
        <part name="mode" type="xsd:integer" />
    </message>
    <message name="sniipsyncAttrAllProductResponse">
        <part name="storeView" type="xsd:string" />
    </message>
    <message name="sniipsyncSetPaymentMethodRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="quoteId" type="xsd:int"/>
        <part name="method" type="typens:sniipsyncSetPaymentMethodEntity"/>
        <part name="storeId" type="xsd:string"/>
    </message>
    <message name="sniipsyncSetPaymentMethodResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
     <portType name="{{var wsdl.handler}}PortType">
         <operation name="sniipsyncCartInfo">
             <documentation>Retrieve information about shopping cart</documentation>
             <input message="typens:sniipsyncCartInfoRequest"/>
             <output message="typens:sniipsyncCartInfoResponse"/>
         </operation>
        <operation name="sniipsyncProductList">
            <documentation>Retrieve CustomApi Data</documentation>
            <input message="typens:sniipsyncProductListRequest" />
            <output message="typens:sniipsyncProductListResponse" />
        </operation>
         <operation name="sniipsyncCategoryList">
             <documentation>Retrieve Category Data</documentation>
             <input message="typens:sniipsyncCategoryListRequest" />
             <output message="typens:sniipsyncCategoryListResponse" />
         </operation>
         <operation name="sniipsyncInfo">
             <documentation>Retrieve Info Data</documentation>
             <input message="typens:sniipsyncInfoRequest" />
             <output message="typens:sniipsyncInfoResponse" />
         </operation>
         <operation name="sniipsyncPaymentList">
             <documentation>Retrieve Payment Data</documentation>
             <input message="typens:sniipsyncPaymentListRequest" />
             <output message="typens:sniipsyncPaymentListResponse" />
         </operation>
         <operation name="sniipsyncPageInfo">
             <documentation>Retrieve Info Data</documentation>
             <input message="typens:sniipsyncPageInfoRequest" />
             <output message="typens:sniipsyncPageInfoResponse" />
         </operation>
         <operation name="sniipsyncAttrProduct">
             <documentation>Retrieve Attr Product</documentation>
             <input message="typens:sniipsyncAttrProductRequest" />
             <output message="typens:sniipsyncAttrProductResponse" />
         </operation>
         <operation name="sniipsyncAttrAllProduct">
             <documentation>Retrieve Attr All Product</documentation>
             <input message="typens:sniipsyncAttrAllProductRequest" />
             <output message="typens:sniipsyncAttrAllProductResponse" />
         </operation>
         <operation name="sniipsyncCreateInvoice">
             <documentation>Create new invoice for order</documentation>
             <input message="typens:sniipsyncCreateInvoiceRequest" />
             <output message="typens:sniipsyncCreateInvoiceResponse" />
         </operation>
         <operation name="sniipsyncSetPaymentMethod">
             <documentation>Set payment method</documentation>
             <input message="typens:sniipsyncSetPaymentMethodRequest"/>
             <output message="typens:sniipsyncSetPaymentMethodResponse"/>
         </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="sniipsyncCartInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="sniipsyncProductList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncCategoryList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncPaymentList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>

        <operation name="sniipsyncPageInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncAttrProduct">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncAttrAllProduct">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncCreateInvoice">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="sniipsyncSetPaymentMethod">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
</definitions>