app/code/local/Sniip/Sniipsync/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="sniipsyncCartProductEntity">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="sku" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="qty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="options" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="bundle_option" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="bundle_option_qty" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="links" type="typens:ArrayOfString" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sniipsyncCartProductEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:sniipsyncCartProductEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sniipsyncCartCustomerEntity">
                <xsd:sequence>
                    <xsd:element name="mode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="password" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="confirmation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="website_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="store_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="group_id" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartCustomerAddressEntity">
                <xsd:sequence>
                    <xsd:element name="mode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="address_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="company" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="street" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="city" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="region" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="region_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="postcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="country_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="is_default_billing" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="is_default_shipping" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sniipsyncCartCustomerAddressEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartCustomerAddressEntity" />
                </xsd:sequence>
            </xsd:complexType>



            <xsd:element name="sniipsyncCartInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productsData" type="typens:sniipsyncCartProductEntityArray" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerData" type="typens:sniipsyncCartCustomerEntity" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerAddressData" type="typens:sniipsyncCartCustomerAddressEntityArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncCartInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncProductListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="pageSize" type="xsd:integer" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="curPage" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncProductListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncCategoryListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="pageSize" type="xsd:integer" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="curPage" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncCategoryListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncPageInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="pageSize" type="xsd:integer" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="mode" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncPageInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncAttrProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncAttrProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1"  name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncAttrAllProductRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="pageSize" type="xsd:integer" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="mode" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sniipsyncAttrAllProductResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1"  name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sniipsyncCartInfoRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncCartInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncCartInfoResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncCartInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncProductListRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncProductListRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncProductListResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncProductListResponseParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncCategoryListRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncCategoryListRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncCategoryListResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncCategoryListResponseParam" />
    </wsdl:message>


    <wsdl:message name="sniipsyncInfoRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncInfoResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncPageInfoRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncPageInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncPageInfoResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncPageInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncAttrProductRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncAttrProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncAttrProductResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncAttrProductResponseParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncAttrAllProductRequest">
        <wsdl:part name="parameters" element="typens:sniipsyncAttrAllProductRequestParam" />
    </wsdl:message>
    <wsdl:message name="sniipsyncAttrAllProductResponse">
        <wsdl:part name="parameters" element="typens:sniipsyncAttrAllProductResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="sniipsyncCartInfo">
            <wsdl:documentation>Retrieve information about shopping cart</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncCartInfoRequest"/>
            <wsdl:output message="typens:sniipsyncCartInfoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="sniipsyncProductList">
            <wsdl:documentation>Retrieve CustomApi Data</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncProductListRequest" />
            <wsdl:output message="typens:sniipsyncProductListResponse" />
        </wsdl:operation>
        <wsdl:operation name="sniipsyncCategoryList">
            <wsdl:documentation>Retrieve Category Data</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncCategoryListRequest" />
            <wsdl:output message="typens:sniipsyncCategoryListResponse" />
        </wsdl:operation>

        <wsdl:operation name="sniipsyncInfo">
            <wsdl:documentation>Retrieve Category Data</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncInfoResponse" />
            <wsdl:output message="typens:sniipsyncInfoResponse" />
        </wsdl:operation>

        <wsdl:operation name="sniipsyncPageInfo">
            <wsdl:documentation>Retrieve Category Data</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncPageInfoResponse" />
            <wsdl:output message="typens:sniipsyncPageInfoResponse" />
        </wsdl:operation>

        <wsdl:operation name="sniipsyncAttrProduct">
            <wsdl:documentation>Retrieve Attr Product</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncAttrProductRequest" />
            <wsdl:output message="typens:sniipsyncAttrProductResponse" />
        </wsdl:operation>
        <wsdl:operation name="sniipsyncAttrAllProduct">
            <wsdl:documentation>Retrieve Attr All Product</wsdl:documentation>
            <wsdl:input message="typens:sniipsyncAttrAllProductRequest" />
            <wsdl:output message="typens:sniipsyncAttrAllProductResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="sniipsyncCartInfo">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="sniipsyncProductList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sniipsyncCategoryList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sniipsyncInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sniipsyncPageInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sniipsyncAttrProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sniipsyncAttrAllProduct">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<!--
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service> -->
</wsdl:definitions>